.installed-apps {
    width: 100%;
    margin: 15px 0px;
    background-color: white;
    padding: 20px 0px;
    border-radius: 10px;
    font-family: "Inter-Regular";
    color: #5F6980;
    overflow-x: auto;
}

.installed-apps>* {
    user-select: none;
}

.installed-apps-title {
    font-family: "Inter-Bold";
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EAECF0;
    padding: 10px 20px;
    color: #282828;
}

.installed-apps-item-container {
    min-width: 300px;
    overflow-x: auto;
}

.installed-apps-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EAECF0;
    padding: 10px;
}

.installed-apps-item-title, .installed-apps-item-source {
    display: flex;
    gap: 3px;
    align-items: center;
    padding: 10px;
}

.installed-apps-item-source {
    gap: 10px
}

.installed-apps-item-source>div>img {
    width: 20px;
}

.installed-apps-item-source, .installed-apps-item-group, .installed-apps-item-amount, .installed-apps-item-status, .installed-apps-item-userId, .installed-apps-item-joined {
    flex: 1;
    font-size: 14px;
    min-width: 120px;
}

.installed-apps-item-status>span {
    padding: 5px 10px;
    border-radius: 20px;
}

.installed-apps-pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.installed-apps-pagination>div {
    font-size: 18px;
    color: #282828;
}